{% extends 'example/index.html' %}
{% load humanize %}
    {% block data-content %}  
    <div class="table-div">   
      <table class="table">
        <thead>
          <tr>
            <th>Celebrity Name</th>
            <th>Net Worth</th>
          </tr>
        </thead>
        <tbody>
          {% for celebrity in data %}
            <tr>
              <td>{{ celebrity.name }}</td>
              <td>$ {{ celebrity.worth | intcomma }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
     </div>    
     {% endblock %}}
    