<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css" />
    <title>Title</title>
  </head>
 <body>
  <div class="container">
    {% include 'example/nav-bar.html' %} 
    {% block index-content %}
    {% endblock %} 
    {% block about-content %}
    {% endblock %} 
    {% block data-content %}
    {% endblock %}   
  </div>  
</body>
</html>




    